html * {
    font-family: 'Montserrat', sans-serif;
}

.custom-btn {
    background-color: #8F5E2E;
    border-color: #8F5E2E;
    color: white;
}

.custom-btn:hover {
    background-color: #8F5E2E;
    border-color: #8F5E2E;
    color: white;
}

.custom-btn-outline {
    border-color: #8F5E2E;
    color: #8F5E2E;
}

.custom-btn-outline:hover {
    border-color: #8F5E2E;
    color: #8F5E2E;
}

.form-control:focus {
    border-color: #8F5E2E;
    box-shadow: 0 0 0 0.2rem rgba(143, 94, 46, 0.25);
} 

.form-select:focus {
    border-color: #8F5E2E;
    box-shadow: 0 0 0 0.2rem rgba(143, 94, 46, 0.25);
} 

select option:checked {
    background-color: #8F5E2E!important;
    color: white!important;
}

.product-item {
    transition: transform .2s;
}

.product-item:hover {
    transform: scale(1.1);
}

.custom-btn-outline-reverse {
    border-color: #8F5E2E;
    background-color: #8F5E2E;
    color: white;
}

.custom-btn-outline-reverse:hover {
    border-color: #8F5E2E;
    background-color: #8F5E2E;
    color: white;
}

.size-icon{
    width: 22px;
    height: 22px;
}

.custom-highlight:hover {
    background-color: #f2f2f2;
    border-radius: 5px;
}

.page-item.active .page-link {
    background-color: #8F5E2E;
    border-color: #8F5E2E;
    color: white;
}

.page-item .page-link {
    color: #8F5E2E;
}

.breadcrumb-item a {
    color: #8F5E2E;
    text-decoration: none;
}

/* .img-list {
    height: 100px;
    overflow-y: scroll;
    overflow-x: scroll;
} */

.img-item {
    height: 100px;
    transition: transform .2s;
}

.img-item:hover {
    transform: scale(1.1);
}

.img-view {
    height: 400px;
}

.title-background {
    background-color: #8F5E2E;
    color: white;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.2rem;
}