html * {
    font-family: 'Montserrat', sans-serif;
}

p {
    text-align: justify;
}

.custom-btn {
    background-color: #8F5E2E;
    border-color: #8F5E2E;
    color: white;
}

.custom-btn:hover {
    background-color: #8F5E2E;
    border-color: #8F5E2E;
    color: white;
}

.custom-btn-outline {
    border-color: #8F5E2E;
    color: #8F5E2E;
}

.custom-btn-outline:hover {
    border-color: #8F5E2E;
    color: #8F5E2E;
}

.form-control:focus {
    border-color: #8F5E2E;
    box-shadow: 0 0 0 0.2rem rgba(143, 94, 46, 0.25);
} 

.form-select:focus {
    border-color: #8F5E2E;
    box-shadow: 0 0 0 0.2rem rgba(143, 94, 46, 0.25);
}

select option:checked {
    background-color: #8F5E2E!important;
    color: white!important;
}

.product-item {
    transition: transform .2s;
}

.product-item:hover {
    transform: scale(1.1);
}

.custom-btn-outline-reverse {
    border-color: #8F5E2E;
    background-color: #8F5E2E;
    color: white;
}

.custom-btn-outline-reverse:hover {
    border-color: #8F5E2E;
    background-color: #8F5E2E;
    color: white;
}

.size-icon{
    width: 22px;
    height: 22px;
}

.custom-highlight:hover {
    background-color: #f2f2f2;
    border-radius: 5px;
}

.page-item.active .page-link {
    background-color: #8F5E2E;
    border-color: #8F5E2E;
    color: white;
}

.page-item .page-link {
    color: #8F5E2E;
}

.breadcrumb-item a {
    color: #8F5E2E;
    text-decoration: none;
}

/* .img-list {
    height: 100px;
    overflow-y: scroll;
    overflow-x: scroll;
} */

.img-item {
    height: 100px;
    transition: transform .2s;
}

.img-item:hover {
    transform: scale(1.1);
}

.img-view {
    height: 400px;
}

.title-background {
    background-color: #8F5E2E;
    color: white;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.empty {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

.carousel-control-next-icon {
    background-color: #8F5E2E;
    border-radius: 0.2rem;
}

.carousel-control-prev-icon {
    background-color: #8F5E2E;
    border-radius: 0.2rem;
}

.card{
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    width: 15rem;
}

.deals-container {
    margin-top: 1rem;
}

.write-question {
    border: 1px groove;
    padding: 1rem;
    border-radius: 20px;
    margin: 0;
}

.comment-container {
    text-wrap: wrap;
}

.text-custom-color {
    color: #8F5E2E;
}

.owl-dots span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: gray !important;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}

.owl-dots .active span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: #8F5E2E !important;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}

.rating {
    border: none;
    float: left;
  }
  
  .rating > label {
    color: #90A0A3;
    float: right;
  }
  
  .rating > label:before {
    margin: 5px;
    font-size: 2em;
    font-family: FontAwesome;
    content: "\f005";
    display: inline-block;
  }
  
  .rating > input {
    display: none;
  }
  
  .rating > input:checked ~ label,
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #F79426;
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label,
  .rating > input:checked ~ label:hover ~ label {
    color: #FECE31;
  }