html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[name="name"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-control:focus {
  border-color: #8F5E2E;
  box-shadow: 0 0 0 0.2rem rgba(143, 94, 46, 0.25);
} 

.form-check-input:focus {
  border-color: #8F5E2E;
  box-shadow: 0 0 0 0.2rem rgba(143, 94, 46, 0.25);
} 

.form-check-input:checked {
  background-color: #8F5E2E;
  border-color: #8F5E2E;
}

.custom-btn {
  background-color: #8F5E2E;
  border-color: #8F5E2E;
  color: white;
}

.custom-btn:hover {
  background-color: #8F5E2E;
  border-color: #8F5E2E;
  color: white;
}

